#
# [disk]
#

rootsize=$((1024 * 10))
swapsize=0

#
# [distro]
#

distro_arch=x86_64
distro_name=centos
distro_ver=6

keepcache=0
selinux=0

hostname=wakame-vdc-1box

rootpass= # must be empty to lock root account
devel_user=centos
devel_pass=centos

ssh_key=
ssh_user_key=
sshd_passauth=yes

fstab_type=label

sudo_requiretty=0

execscript=$(pwd)/execscript.sh
copydir=$(pwd)/guestroot/
firstboot=  # vmconfig/firstboot.sh
firstlogin= # vmconfig/firstlogin.sh

addpkg="vim-minimal screen git make sudo ntp ntpdate"

nictab=nictab.${ASHIBA_ENV}.txt
#routetab= # vmconfig/routetab.txt

## [wakame-vdc] internal system configuration script

#
# [hypervisor]
#

hypervisor=kvm

#
# [kvm]
#

name=vdc1box
raw=1box-${ASHIBA_ENV}.$(date +%Y%m%d).01.$(arch).raw
image_path=${raw}

cpu_num=  # ; 2
mem_size= # ;$((1024 * 2))

vnc_addr= # ; 127.0.0.1
vnc_port= # ; 101

serial_addr= # ; 127.0.0.1
serial_port= # ; 5555

monitor_addr= # ; 127.0.0.1
monitor_port= # ; 4444
