#
# [disk]
#

rootsize=$((1024 * 10))
swapsize=0

#
# [distro]
#

distro_name=centos
distro_ver=6

keepcache=0
selinux=0

hostname=wakame-vdc-1box

rootpass= # must be empty to lock root account
devel_user=centos
devel_pass=centos

ssh_key=
ssh_user_key=
sshd_passauth=yes

fstab_type=label

sudo_requiretty=0

xexecscript="$(find -L ${BASH_SOURCE[0]%/*}/xexecscript.d ! -type d -name '*.sh' | sort)"
copy="
 ${BASH_SOURCE[0]%/*}/copy.txt
 ${BASH_SOURCE[0]%/*}/copy.${VDC_HYPERVISOR}.txt
 ${BASH_SOURCE[0]%/*}/copy.${VDC_EDGE_NETWORKING}.txt
 $([[ -f "${BASH_SOURCE[0]%/*}/copy.local.txt" ]] && echo ${BASH_SOURCE[0]%/*}/copy.local.txt)
"

firstboot=  # vmconfig/firstboot.sh
[[ -f ${BASH_SOURCE[0]%/*}/firstboot.sh ]] && firstboot=${BASH_SOURCE[0]%/*}/firstboot.sh
firstlogin= # vmconfig/firstlogin.sh
[[ -f ${BASH_SOURCE[0]%/*}/firstlogin.sh ]] && firstlogin=${BASH_SOURCE[0]%/*}/firstlogin.sh
everyboot=  # vmconfig/everyboot.sh
[[ -f ${BASH_SOURCE[0]%/*}/everyboot.sh ]] && everyboot=${BASH_SOURCE[0]%/*}/everyboot.sh

addpkg="
 git
 vim-minimal screen git make sudo ntp ntpdate
 man
 nmap lsof strace tcpdump traceroute telnet ltrace dnsutils sysstat nc wireshark
"

nictab=nictab.${VDC_EDGE_NETWORKING}.txt
#routetab= # vmconfig/routetab.txt

## [wakame-vdc] internal system configuration script

#
# [hypervisor]
#

hypervisor=kvm

#
# [kvm]
#

name=vdc1box
raw=1box-${VDC_HYPERVISOR}.${VDC_EDGE_NETWORKING}.$(arch).raw
image_path=${raw}

cpu_num=  # ; 2
mem_size= # ;$((1024 * 2))

vnc_addr= # ; 127.0.0.1
vnc_port= # ; 101

serial_addr= # ; 127.0.0.1
serial_port= # ; 5555

monitor_addr= # ; 127.0.0.1
monitor_port= # ; 4444
